/* GLOBAL */

body {
	background: linear-gradient(to bottom, rgb(35,35,35) 0%, rgb(50,50,50) 100%) 100% 156px;
	font-family: Arial, sans-serif;
	font-size: 0.7em;
	margin-bottom: 0;
}

#menu a, a:visited, a:active {
	color: #56b4f7;
	text-decoration: none;	
}

#latest5 a, a:visited, a:active {
	color: #56b4f7;
	text-decoration: none;	
}

#latest5 a:hover {
	color: rgb(200,200,200);
	text-decoration: none;	
}

.linkbox a, a:visited, a:active {
	color: #56b4f7;
	text-decoration: none;	
}

#content td a[title='View Torrent'], a[title='View Torrent']:visited, a[title='View Torrent']:active,
	a[title='Download'], a[title='Download']:visited, a[title='Download']:active,
	a[title='Report'], a[title='Report']:visited, a[title='Report']:active {
	color: #56b4f7;
	text-decoration: none;
}

#content td a[title='View Torrent']:hover, a[title='Download']:hover, a[title='Report']:hover {
	color: white;
	text-decoration: none;	
}


#content .forum_index a, a:visited, a:active	{
	color: rgb(235,235,235);
	text-decoration: none;	
}

#content .forum_list a, a:visited, a:active	{
	color: rgb(235,235,235);
	text-decoration: none;	
}

#forums #content .thin table a, a:visited, a:active {
	color: rgb(235,235,235);
	text-decoration: none;
}

#forums #content .thin table a[href^='/forums.php'],
	a[href^='/forums.php']:visited, a[href^='/forums.php']:active {
	color: #56b4f7;
	text-decoration: none;
}

#forums #content .thin table a[href^='/torrents.php'],
	a[href^='/torrents.php']:visited, a[href^='/torrents.php']:active {
	color: #56b4f7;
	text-decoration: none;
}

#requests #content .thin table a[href^='requests.php?action'],
	a[href^='requests.php?action']:visited, a[href^='requests.php?action']:active {
	color: white;
	text-decoration: none;
}

#content .forum_index a:hover	{
	color: #56b4f7;
	text-decoration: none;	
}

#content .forum_list a:hover	{
	color: #56b4f7;
	text-decoration: none;	
}

#forums #content .thin table a:hover	{
	color: #56b4f7;
	text-decoration: none;	
}

#forums #content .thin table a[href^='/torrents.php']:hover {
	color: white;
	text-decoration: none;
}

#forums #content .thin table a[href^='/forums.php']:hover {
	color: white;
	text-decoration: none;
}

a, a:visited, a:active {
	color: #56b4f7;
	text-decoration: none;	
}

a:hover {
	color: white;
	text-decoration: none;
}

a img {
	border-style: none;
	position: relative;
	top: 1px;
}

#wrapper {
	width: 1015px;
	margin: 0 auto;
}

#footer {
	padding: 42px 0 20px 0;
	color: #a5a5a5;
	text-align: left;
	background: rgb(75, 75, 75) url('images/footer_bg.png') top left repeat-x;
	position: relative;
	margin: -22px auto 20px auto;
	z-index: 1;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	overflow: hidden;
	clear: both;
	width: 1015px;
}

#footer #disclaimer_container {
	font-weight: normal;
	text-align: left !important;
	margin: 0 20px 20px 20px !important;
	padding: 0 0 20px 0;
  border-bottom: 1px solid #6f6f6f;
}

#footer p {
	float: left;
	width: 200px;
	height: 100px;
	border-left: 1px solid #6f6f6f;
	margin: 0 20px 0 0;
  padding: 0 0 0 20px;   
}

#footer p:first-of-type {
  background: url('images/what_logo.png') 15px 0 no-repeat;
  padding: 0 0 0 130px;
  border: 0;
}

#footer p:last-child {
  margin: 0;
}

#footer a {
  color: #c4c4c4;
}

#header {
	padding: 0;
	margin: 20px 0 0 0;
}

/*Twitter Box */


div#twitter 
{
	display:block;
	border-bottom: 2em;
	
	
}
ul#twitter_show {
    list-style-type: none;
    margin: 0;
    padding: 0 1em 0.5em;
	display: block;
	height:270px;
}
ul#twitter_show li {
    border-bottom: 1px solid #000000;
    margin: 0;
    padding: 0.8em 0 1em;
}
ul#twitter_show li a {
    color: #000000;
}
ul#twitter_show li span {
    display: block;
}
ul#twitter_show li span a {
    color: #000000;
}
p.twitter 
{
	 /*margin: 10px;	*/
	text-align:center;
}


/*End Of Twitter Box */



/* GENERAL */

pre{
	font-family: monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size:1.5em;
	line-height: 100%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
}


.hidden, .hide {
	display: none;
}


h1,h2,h3,h4{
	
	margin-top: 0;
	padding: 0;
}

.nobr {
	white-space:nowrap;
	font-weight: normal ;
}

.rowa td {
	background-color: rgb(40,40,40);
}

.rowb td {
	background-color: rgb(50,50,50);
}

p {
	margin: 10px 0 5px 0;
}

td p {
	margin: 0;
}

input {
	cursor: pointer;
	cursor: hand;
}

input[type="text"] {
  cursor: text;
}

input, select, textarea {
	font-family: Arial, sans-serif;
	font-size: 1em;
	border: 1px solid rgb(25,25,25);	
}

textarea {
	width: 500px !important;
	height: 100px;
}

input, textarea {
	color: #777777;
	padding: 3px;
	background: white url('images/inputbg.png') top left repeat-x;
}

select {
  padding: 1px;
}

.pad {
  background: transparent;
  padding: 0 !important;
}

.main_column .pad, 
.sidebar .pad,
#blog .pad {
	background: rgb(55,55,55);
	padding: 10px !important;
}

#inbox #content h2 {
	padding: 20px !important;
}

#searchbars input:focus {
	border: 1px solid #ffffff;
	color: #ffffff;
}

#searchbars input {
  background: transparent url('images/searchbox_dark.png') top left no-repeat;
  color: rgb(220,220,220);
  border: 0 !important;
  height: 19px !important;
  width: 142px !important;
  margin: 0 !important;
  padding: 2px 5px 2px 19px !important;
  outline: none;
}

#searchbars input:focus {
  background: transparent url('images/searchbox_dark.png') 0 -23px no-repeat;  
}

input[type="submit"], input[type="button"] {
   color: white;
   background-color: rgb(100,100,100);
   background-image: none;
   border-top: 1px solid rgb(35,35,35);
   border-left: 1px solid rgb(35,35,35);
   border-bottom: 1px solid rgb(25,25,25);
   border-right: 1px solid rgb(25,25,25);
   font-weight: bold;
}


input[type="submit"]:active, input[type="button"]:active {
  color: #007dc7 !important;
}

input[value="Upload torrent"] {
  margin: 15px 0 0 0;
  background-color: #007dc7;
  color: white;
  font-size: 15px;
  border-top: 1px solid #63afdd;
  border-left: 1px solid #63afdd;
  border-bottom: 1px solid #005488;
  border-right: 1px solid #005488;
}

input[value="Upload torrent"]:active {
  color: #f4f4f4 !important;
}


/* TOP MENUS */

#menu ul, ul#userinfo_minor {
	border-right: 1px solid #828282;
	width: 150px;
	list-style: none;
	padding: 0;
	margin: 0;
}

#header ul a {
  display: inline-block;
	padding: 1px 2px;
}

ul#userinfo_minor {
	width: 200px;
}

#menu ul li, 
ul#userinfo_minor li {
	float: left;
	display: block;
	width: 74px;	
}

ul#userinfo_minor li {
	width: 95px;	
}

ul#userinfo_username, ul#userinfo_major, ul#userinfo_stats {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#userinfo_username li, ul#userinfo_major li, ul#userinfo_stats li {
	display: inline;
	font-weight: bold;
}

ul#userinfo_username li a {
	color: #bebebe;
}

ul#userinfo_username li a:hover {
	background-color: #575757;
	color: white;
}

ul#userinfo_username li a.username {
	color: white
}

ul#userinfo_username li a.username:hover {
	background-color: #56b4f7;
	color: white;
}

ul#userinfo_major li a {
	color: white
}

ul#userinfo_major li a:hover {
	background-color: #575757;
	color: white;	
}

ul#userinfo_stats li {
	font-weight: normal;
	color: white
}

ul#userinfo_stats li a {
	font-weight: normal;
	color: white
}

.alertbar {
	font-weight:normal;
	background-color:#56b4f7;
	padding:5px;
	color: white;
	display: inline-block;
}

.blend {
	background-color: rgb(100,100,100);
	color: rgb(230,230,230);
	display: block;
}

.alertbar a {
	color: white;
	font-weight: bold;
}

.blend a {
	color: white
}

.blend a:hover {
	background-color: #E6E6E6;
	color: rgb(75,75,75);	
}

ul#userinfo_stats li span.stat {
	color: #56b4f7;
}

ul#userinfo_minor a {
	color: white
}

ul#userinfo_minor a:hover {
	background-color: #575757;
	color: white;
}

#menu a:hover {
	background-color: #007dc6;
	color: white;
}

#index #nav_index a,
#collage #nav_collages a,
#forums #nav_forums a,
#chat #nav_irc a,
#rules #nav_rules a,
#staff #nav_staff a,
#torrents #nav_torrents a,
#requests #nav_requests a,
#top10 #nav_top10 a,
#wiki #nav_wiki a
{
  font-weight: bold;
} 

/* ARRANGING MENUS */

#logo {
  width: 110px;
  height: 100px;
  z-index: 7;
  position: absolute;
}


#logo a {
  display: block;
  height: 90px;
  width: 110px;
	background: transparent url('images/what_head3_shadow.png') no-repeat top left;
	margin-left: 10px;
	margin-bottom: 15px;
}


#menu ul, ul#userinfo_major, ul#userinfo_minor, ul#userinfo_stats, ul#userinfo_username, #alerts {
	position: absolute;
}


#menu ul {
	z-index: 6;
	padding-left: 120px;
	padding-bottom: 0;
}

ul#userinfo_major {
	z-index: 2;
	padding-left: 510px;
}

ul#userinfo_minor {
	z-index: 4;
	padding-top: 17px;
	padding-left: 290px;
}

ul#userinfo_stats {
	z-index: 3;
	margin-top: 17px;
	padding-left: 510px;
}

ul#userinfo_username {
	z-index: 5;
	padding-left: 290px; 
}

#alerts {
	z-index: 1;
	padding-left: 510px;
	padding-top: 34px;
}

/* SEARCH BARS */

#searchbars {
	clear: both;
}

#searchbars ul {
	padding: 25px 0 0 0;
	margin: 0;
	list-style: none;
	display: block;
}

#searchbars ul li {
	display: inline;
	position: relative;
	list-style: none;
}

#searchbars ul li ul {
		display: block;
        position: absolute;
        top: 1em;
		left: 0;
        z-index: 1000;
	background-color: #F0F0F0;
	border: 1px solid #CCC !important;
        margin-top: 12px;
        padding: 0;
}

#searchbars ul li ul li {
        margin: 0;
        padding: 3px;
        display: block;
	cursor: pointer;
}

#searchbars ul li ul li.highlight {
	background-color: #007DC6;
	color: #fff;
}

#searchbars form {
	display: inline;
}

#wrapper h1.hidden {
	display: block;
	height: 80px;
	width: 118px;
	text-indent: -2000em;
/*	background: transparent url('images/what_head3.jpg') no-repeat top left;*/
	padding: 0;
	margin: 0;
	float: left;
}


/* CONTENT */


#content {
	padding: 20px 20px 20px 20px;	
	margin: 38px 0 0 0;
	background-color: rgb(45,45,45);
	color: white;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	z-index: 2;
	position: relative;
	border: 1px solid rgb(25, 25, 25);
}

#torrents #content h2 {
  margin: 10px 0 10px 0;
}

#content h2:first-child {
  background-color: rgb(55,55,55);
  margin: -20px -20px -1px -20px !important;
  padding: 20px;
	-moz-border-radius-topleft: 11px;
	-webkit-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
	-moz-border-radius-topright: 11px;
	-webkit-border-radius-topright: 11px;
	border-top-right-radius: 11px;
	border-bottom: 1px solid rgb(25, 25, 25);
	position: relative;
	z-index:3;
}



#content .box h2 {
  background: none;
  margin: 0;
  padding: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-radius-topright: 0;
	border-top-right-radius: 0;
  position: static;
  border-bottom: 0;
}

.label {
  width: 15%;  
  border-right: 1px solid #969696;
}

#content table[border="1"]{
	border: 1px solid #2b2b2b !important;
}
#content table[border="1"] tr td:first-child{
	border-right-color: #7f7f7f !important;
}
#content table {
	padding: 0;
	border-collapse: collapse;
	width: 100%;
	background: rgb(40,40,40);
}

#content table td {
	color: rgb(200,200,200);
	padding: 5px;
	border-top: 1px solid rgb(25, 25, 25);
	max-width: 675px;
	word-wrap: break-word;
}

#content .forum_index .colhead td {
	color: white;
	padding: 5px;
	border-top: 1px solid rgb(25, 25, 25);
	max-width: 675px;
	word-wrap: break-word;
}

#content #reseed table td { 
	color: rgb(200,200,200);
	background: rgb(55,55,55);
	padding: 5px;
	border-top: 1px solid rgb(25, 25, 25);
	max-width: 675px;
	word-wrap: break-word;
}

#content table td h4  {
  margin: 0;
}

#content table .colhead a, 
#content table .colhead_dark a {
	color: white;
	font-weight: bold;
}


#content table .colhead a:hover, 
#content table .colhead_dark a:hover {
	color: #56b4f7;
}


/* FRIENDS */

#friends table {
  width: 60%;
  margin: 0 auto;
}

#friends textarea {
  height: 42px;
  width: 270px !important;
  margin: 0;
}

#friends .left {
  width: 50%;
  text-align: right;
}


#friends br, 
#footer br {
  display: none;
}

.sidebar br {
  background: rgb(55,55,55);
  line-height: 1px;
}

/* MESSAGES */

#inbox .vertical_space {
  width: 50%;
  margin: 0 auto;  
  padding: 20px;
  background: transparent url('images/convo_dark.png') 50% 35px no-repeat;
}

#inbox .box .body {
  width: 450px;
  margin: 25px auto 0 auto;
}

#inbox form .box {
  width: 100%;
  margin: 0 0 20px 0;  
  padding: 0;
}

#inbox form textarea {
  margin: 0 0 10px 0;
}

#inbox .vertical_space .head {
	color: #d1d1d1;
	margin-bottom: 5px;
}


/* FORUMS */

#forums h3 {
  margin: 15px 0;
}

#forums h3:first-child {
  margin: 0 0 15px 0;
}

#quickreplypreview {
  background-color:#F0F0F0;
  border:1px solid #C6C6C6;
}

#forums .forum_post td,
#userhistory .forum_post td,
#collage .forum_post td,
#torrents .forum_post td,
#comments .forum_post td,
#requests .forum_post td,
#reviews .forum_post td {
  border: 1px solid #d4d4d4;
  border-bottom: 0;
}

#forums .forum_post,
#userhistory .forum_post,
#collage .forum_post,
#torrents .forum_post,
#comments .forum_post,
#requests .forum_post,
#reviews .forum_post {
  border: 0;
  margin: 0 0 10px 0;
}

#forums .forum_post td.avatar, 
#userhistory .forum_post td.avatar, 
#collage .forum_post td.avatar, 
#torrents .forum_post td.avatar,
#comments .forum_post td.avatar,
#requests .forum_post td.avatar,
#reviews .forum_post td.avatar {
  border-left: 1px solid rgb(25,25,25);
  border-top: 1px solid rgb(25,25,25);
  border-right: 1px solid rgb(25,25,25);
  padding: 1px 1px 1px 0;
  background-color: rgb(55,55,55);
  width: 150px;
}

#forums .forum_post blockquote,
#userhistory .forum_post blockquote,
#collage .forum_post blockquote,
#torrents .forum_post blockquote,
#comments .forum_post blockquote,
#requests .forum_post blockquote,
#reviews .forum_post blockquote,
#blog blockquote {
	border: 1px dotted rgb(25,25,25);
	padding: 6px;
	background: rgb(45,45,45) url('images/quote_bg_dark.png') -10px -5px no-repeat;
}

#forums .forum_post .body,
#userhistory .forum_post .body,
#collage .forum_post .body,
#torrents .forum_post .body,
#comments .forum_post .body,
#requests .forum_post .body,
#reviews .forum_post .body {
  padding: 0;
  background: rgb(50,50,50); /*url('images/forum_postbgspeech3_dark.png') -2px 100% no-repeat;*/
  border-left: 0;
}

#forums .forum_post,
#userhistory .forum_post,
#collage .forum_post,
#torrents .forum_post,
#comments .forum_post,
#requests .forum_post,
#reviews .forum_post {
  background: rgb(55,55,55); /*url('images/forum_postbgspeech2.png') 149px 0 repeat-y;*/
}

#forums .forum_post td,
#userhistory .forum_post td,
#collage .forum_post td,
#torrents .forum_post td,
#comments .forum_post td,
#requests .forum_post td,
#reviews .forum_post td {
  border-left: 0;
  border-right: 0;
}

#forums .forum_post .body div,
#collage .forum_post .body div,
#torrents .forum_post .body div,
#userhistory .forum_post .body,
#comments .forum_post .body,
#requests .forum_post .body
#reviews .forum_post .body div {
  /*background: transparent url('images/forum_postbgspeech1alt2.png') -2px 0 no-repeat;*/
  padding: 20px 20px 25px 40px;
  max-width:697px;
}

#reviews .forum_post .body div {
  margin: 20px;
}

#requests .forum_post .body div {
  margin: 20px;
}

#forums .forum_post .body div a,
#collage .forum_post .body div a,
#torrents .forum_post .body div a,
#userhistory .forum_post .body a,
#comments .forum_post .body div a,
#requests .forum_post .body div a
#reviews .forum_post .body div a{
	word-wrap: break-word;
}

#userhistory .forum_post .body {
  padding: 20px 20px 20px 40px;
}

#userhistory .forum_post tr,
#comments .forum_post tr,
#requests .forum_post tr
#reviews .forum_post tr {
  /*background: transparent url('images/forum_postbgspeech3.png') 149px 100% no-repeat;  */
}

#userhistory .forum_post tr.colhead_dark {
  background-color: #e8e8e8;
  background-image: none;
}

#forums .forum_post .body div div,
#collage .forum_post .body div div,
#torrents .forum_post .body div div
#reviews .forum_post .body div div{
  background: none;
  padding: 0;
}

.min_padding {
	padding: 0;
}


#forums .forum_post li {
	margin: 0 0 0 20px;
	padding: 0;
}

#forums #content .thin .box form .box input[type="Text"]{
  font-size: 20px;
  width: 500px;
}

#forums #content form .box {
  width: 510px;
  margin: 0 auto;
  padding: 0;
}

#forums #wrapper #content .thin h3{
	background-color: rgb(80,80,80);
	font-size: 15px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}


.quickpost {
cursor:pointer;
margin-left:3px;
padding:3px;
}
.quickposthover {
background:none repeat scroll 0 0 #DDDDDD;
border-style:inset;
border-width:1px;
cursor:pointer;
margin-left:3px;
padding:2px;
}
.quickpost-sep {
padding:2px;
}
div.quickposttoolbar {
background:none repeat scroll 0 0 rgb(50,50,50);
height:24px;
text-align:center;
width:100%;
}
#torrents div.quickposttoolbar {
background:none repeat scroll 0 0 rgb(65,65,65);
border-top: 1px solid rgb(25,25,25);
border-right: 1px solid rgb(25,25,25);
height:24px;
text-align:center;
width:100%;
}
div.quickpostsmileys {
background:none repeat scroll 0 0 rgb(45,45,45);
height:24px;
text-align:center;
width:100%;
}
#torrents div.quickpostsmileys {
background:none repeat scroll 0 0 rgb(55,55,55);
height:24px;
text-align:center;
width:100%;
}
.quickpostsmileys {
cursor:pointer;
margin-left:1px;
margin-top:3px;
padding:2px;
}
.quickpostsmileyshover {
background:none repeat scroll 0 0  rgb(90,90,90);
border-style:inset;
border-width:1px;
border-color: rgb(25,25,25);
cursor:pointer;
margin-left:1px;
padding:1px;
}
div.quickpostsmileys2 {
background:none repeat scroll 0 0 rgb(45,45,45);
height:44px;
text-align:center;
width:100%;
}
#torrents div.quickpostsmileys2 {
background:none repeat scroll 0 0 rgb(55,55,55);
height:44px;
text-align:center;
width:100%;
}
.quickpostsmileys2 {
cursor:pointer;
margin-left:1px;
margin-top:3px;
padding:2px;
}
.quickpostsmileys2hover {
background:none repeat scroll 0 0 rgb(90,90,90);
border-style:inset;
border-width:1px;
border-color: rgb(25,25,25);
cursor:pointer;
margin-left:1px;
padding:1px;
}
.headh {
background:none repeat scroll 0 0 rgb(45,45,45);
border-left:1px solid rgb(45,45,45);
border-right:1px solid rgb(45,45,45);
}
#torrents .headh {
background:none repeat scroll 0 0 rgb(55,55,55);
border-left:1px solid rgb(25,25,25);
border-right:1px solid rgb(25,25,25);
}
.contenth {
background:none repeat scroll 0 0 rgb(65,65,65);
border-left:1px solid rgb(25,25,25);
border-right:1px solid rgb(25,25,25);
}

.picker_layer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	background-color: #d4d0c8;
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	overflow: visible;
	height: auto;
	width: auto;
	z-index:1000;
}
.picker_buttons {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color:#d4d0c8;
	border-style:solid;
	border-color:#666666;
	border-width:1px;
	padding:1px;
	cursor:pointer;
	color:#000000;
}
.cell_color {
	cursor:pointer;
	width:9px;
	height:9px;
}
.color_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
.choosed_color_cell{
	border-style:solid; border-color:#000000; border-width:1px;
}
.default_color_ahd{
	width:17px; height:17px;
	background-repeat:no-repeat; background-position:center;
}

/* TORRENTS */

.sidebar .box .stats li div {
  background: rgb(55,55,55);
  letter-spacing: 0 !important;
}

.sidebar .box .stats li div a {
  background: rgb(55,55,55);
  font-family: monospace !important;
}

#torrents .sidebar .box .stats li.artist_main a {
  color: white;
  background: rgb(55,55,55);
  font-family: monospace;
} 

#torrents .sidebar .box .stats li.artist_main a:hover {
  background: rgb(55,55,55);
  color: red;
} 

#torrents .sidebar .box .stats li.artist_main a:first-child {
  background: rgb(55,55,55);
  color: #007DC6;
  font-family: Arial, sans-serif;
} 

#torrents .sidebar .box .stats li.artist_main a:first-child:hover {
    background: rgb(55,55,55);
 	color: white
} 

#torrents input[value="Edit torrent"] {
  margin: 5px 0 30px 0;
}

#torrents input[value="Change group ID"], #torrents input[value="Split into new group"] {
  margin: 0 0 0 -5px;
}

#torrents #content .center .box form h3 {
  margin: 5px 0;
}

#torrents .filter_torrents,
#inbox #searchbox {
	width: 70%;
	margin: 0 auto;
	border: 1px solid rgb(25,25,25);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 8px;
	background: rgb(55,55,55) url('images/filter.png') -30px -30px no-repeat;
}

#torrents .filter_torrents h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
}

#torrents .filter_torrents table {
  background-color: transparent;
}

#torrents .filter_torrents .cat_list {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
  height: 30px;
}

#torrents .filter_torrents td {
  padding: 2px 5px;
  border: 0;
}


#torrents .filter_torrents .inputtext {
	width: 150px;
}

#torrents .filter_torrents .smallest {
  width: 80px;
}

#torrents .filter_torrents table td.label {
	text-align: left;
	padding: 0;
	width: 20%;
}

#torrents .filter_torrents a#swaptags {
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 5px 0;
}

#torrents .filter_torrents .submit {
	padding: 5px 0 0 0;
	font-weight: bold;
	text-align: right;
	direction: rtl;
}

.torrent a {
  font-weight:bold;
}

.linkbox {
	text-align: center;
	padding: 10px 0;
}

.linkbox:first-child {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.linkbox {
  border-top: 0px;
}


.show_torrents_link {
	border: none;
	width: 28px;
  height: 28px;
	display: block;
}

.show_torrents {
	background: url('images/what_show_dark.gif') no-repeat center center;
}

.hide_torrents {
	background: url('images/what_hide_dark.gif') no-repeat center center;
}

.group {
	font-weight: bold;
}

.group td.nobr {
	font-weight: normal;
}

.tags, .tags a {
	font-weight: normal;
	color: #9b9b9b;
}

.tags a:hover {
	color: #56b4f7;
}

#torrent_table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}

#torrent_table a img {
	border: 0;
}

#torrent_table td {
	margin: 0;
	padding: 3px;
	background-color: rgb(40,40,40);
}

#torrents .torrent_table tr.group td {
	background-color: rgb(35,35,35) !important;
}

#torrents .torrent_table tr.group:hover td {
  background-color: rgb(30,30,30) !important;
  color: white;
}

#torrents .torrent_table tr.torrent:hover td {
  background-color: rgb(35,35,35) !important;
  color: white;
}

#torrents .torrent_table tr.group_torrent td.edition_info:hover {
  background-color: rgb(55,55,55) !important;
}

#torrents .torrent_table tr.group_torrent:hover td:not(.edition_info) {
  background-color: rgb(40,40,40) !important;
  color: white;
}

.colhead td, .colhead_dark td {
	background-color: rgb(70,70,70) !important;
	font-weight: bold;
	border-top: 1px solid rgb(25, 25, 25) !important;
	border-bottom: 1px solid rgb(25, 25, 25) !important;
}


#torrent_table .group_torrent td {
	background-color: rgb(45,45,45);
}
#torrent_table .group_torrent td.edition_info {
	color: rgb(200,200,200);
	background-color: rgb(60,60,60);
}

.torrent_table .group_torrent td {
  background-color: rgb(40,40,40);
}

.torrent_table .group_torrent td.edition_info {
  color: rgb(200,200,200);
  background-color: rgb(50,50,50);
}

.torrent_table .pad td {
  padding: 20px !important;
  /*background: url('images/download.png') 105% -20px no-repeat;*/
  background: url('images/download.png') top left no-repeat;
}

.torrent_table .pad {
  /*background: url('images/download.png') 105% -20px no-repeat;*/
  background: url('images/download_bottom.png') bottom left no-repeat;
}

.torrent_table .pad td td {
  background: none;
  padding: 5px !important;
}

#torrent_table tr.group_torrent td span {
	padding-left: 35px;
}

#torrent_table tr.group_torrent td span a,
.torrent_table tr.group_torrent td span a {
	color: #56b4f7;
}

#torrent_table tr.group_torrent td span a:hover,
.torrent_table tr.group_torrent td span a:hover {
	color: white;
}

#torrent_table tr.group_torrent a,
.torrent_table tr.group_torrent a {
	color: rgb(225,225,225);
	font-weight: normal;
}

#torrent_table tr.group_torrent a:hover,
.torrent_table tr.group_torrent a:hover {
	color: #56b4f7;
}

#torrents #content .center .box form div input[type="text"], 
#wiki #content .center .box form div input[type="text"],
#artist #content .center .box form div input[type="text"] {
  width: 500px !important;
  margin-bottom: 10px;
}

#torrents #content .center .box form div textarea,
#wiki #content .center .box form div textarea,
#upload textarea#album_desc,
#forums #content .thin .box form .box textarea,
#forums #quickpost,
#edit_collage textarea {
  color: #777777;
  height: 200px;
}

.contenth #quickpost textarea {
	color: #777777;
}

#torrents #content .center .box form div, 
#wiki #content .center .box form div,
#artist #content .center .box form div {
  text-align: left !important;
}

/* HOME AND ARTISTS */


.main_column {
	width: 715px;
}

.sidebar {
	background: rgb(45,45,45);
	float: right;
	width: 250px;
}


.main_column table {
  margin: 0 0 20px 0;
}

.box table {
  margin: 0;
  background-color: white;
}

#discog_table, #collage_table {
  margin-top: 1px;
}


#artist .sidebar img,
#torrents .sidebar img {
  background: rgb(55,55,55);
  width: 228px;
}

#torrents .sidebar .box p {
  background: rgb(55,55,55);
  margin: 0;
  padding: 10px 0;
}

.sidebar .box .head, 
.main_column .box .head,
#blog .box .head {
	background-color: rgb(35,35,35);
	padding: 10px !important;
	border-bottom: 1px solid rgb(25,25,25);
}

.sidebar .box,
.main_column .box,
#blog .box {
	background-color: rgb(55,55,55);
    border: 1px solid rgb(25,25,25);
	margin: 0 0 20px 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.sidebar .box .stats {
	background: rgb(55,55,55);
	list-style: none;
	margin: 0;
	padding: 10px;
}

.sidebar ol {
  background: rgb(55,55,55);
  padding: 0 !important;
  margin: 0;
  list-style-position: inside;
}

.sidebar ul {
  background: rgb(55,55,55);
  list-style-type: none;
  margin: 0;
}

#wiki .sidebar ul {
  background: rgb(55,55,55);
  padding: 0;
}

#wiki .sidebar ul ul {
  background: rgb(55,55,55);
  margin: 0 0 0 10px;
}

#wiki .main_column .box h1, h2, h3 {
  margin: 5px 0;
}

#wiki .main_column .box h1 {
  font-size: 15px;
}

#wiki .main_column .box h2 {
  font-size: 13px;
}


.sidebar .box li {
    background: rgb(55,55,55);
	margin: 0 0 2px 0;
}

#recommended ul {
	margin: 0 0 0 0;
	padding: 10px;
}

.sidebar form {
  
  padding: 0 !important;
  margin: 0 !important;
}

.sidebar form br, 
.sidebar .pad br {
  line-height: 1em;
}

.sidebar form textarea {
  width: 220px !important;
}

.sidebar form input {
  margin: 0;
}

.sidebar .box .pad div {

  padding: 0 !important;
}

.main_column .body,
.sidebar .box .body { /*ADD TAG ON ALBUM PAGE */
  background: rgb(55,55,55);
  padding: 10px;
}

.main_column .group {
  background: rgb(35,35,35); /*url('images/discogbglightshadow.png') top left repeat-x;*/
}

.main_column .group td {
  color: #878787;
	background: linear-gradient(to right, rgb(35,35,35), rgb(50,50,50)); /*url('images/discogbglight.png') top right repeat-y;*/
	border: 0 !important;
}

#discog_table .center {
  background-image: none;
}

.main_column .group td a {
  color: #454545;
}

.main_column .group td a:hover {
  color: white;
}

.main_column .group td .tags {
  background: url('images/tags.png') 0 60% no-repeat;
  padding: 0 0 0 19px;
/*
  filter: alpha(opacity=99);
  -moz-opacity: 0.99;
  opacity: 0.99;
*/
}

/*
.main_column .group td .tags * {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
*/

.main_column .group td .tags a {
  color: #656565;
}

.main_column .group td .tags a:hover {
  color: #8c8c8c;
}





/* TORRENTS */

.main_column .torrent_table .pad {
	padding: 15px !important;
}

.main_column .torrent_table .torrent {
	background-color:#f6f6f6;
}

.main_column .torrent_table .pad blockquote {
	margin: 0 0 5px 0;
	border: 1px dotted rgb(25,25,25);
	padding: 5px;
}



/* POLLS  */



.poll {
	list-style: none;
	padding: 10px;
	margin: 5px;
}

.poll li {
  clear: both;
}

.poll .graph {
  padding: 0 0 15px 0;
}

.poll .graph span {
  display: block;
  height: 19px;
  float: left;
}

.poll .graph .left_poll {
  width: 9px;
  background: url('images/poll_left.png') top left no-repeat;
}

.poll .graph .center_poll {
  background: url('images/poll_middle.png') top left repeat-x;
}

.poll .graph .right_poll {
  width: 11px;
  background: url('images/poll_right.png') top left no-repeat;
}



/* MISC */



.r00 { color: #FF0000; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #74C42E; }
.r20 { color: #418B00; }
.r50 { color: #52af00; }
.r99 { color: #418B00; }


/* Styles generated by the BBCode parser */

span.size1 { font-size:0.75em; }
span.size2 { font-size:1em; }
span.size3 { font-size:1.25em; }
span.size4 { font-size:1.5em; }
span.size5 { font-size:1.75em; }
span.size6 { font-size:2em; }
span.size7 { font-size:2.25em; }
span.size8 { font-size:2.5em; }
span.size9 { font-size:2.75em; }
span.size10 { font-size:3em; }



td.r00 {
  background-color: #ff7a7a !important;
}

.curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111 50% 0 no-repeat fixed;
	z-index:1001;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=90);
}

.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index:1002;
	overflow: auto;
}

.lightbox img { 
	max-width: 100%;
	max-height: 100%;
	background-color: transparent;
	z-index: -1;
}

.save_message {
	color: black;
	margin-bottom: 3em;
	display: block;
	background-color: #edc431;
	padding: 5px;
	float: middle;
	text-align: center;
	font-weight: bold;
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
}

.error_message {
	color: black;
	margin-bottom: 3em;
	display: block;
	background-color: #d62222;
	padding: 5px;
	float: middle;
	text-align: center;
	font-weight: bold;
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
}

.unreadpm {
	background-color: #6fba44;
}

.unreadpm a {
	color: white;
	font-weight: bold;
}


.nobullet {
	list-style: none;
	margin: 0;
	padding: 10px;
}




/*CLEARFIXES*/


#menu ul:after, ul#userinfo_minor:after, div.sidebar:after, #content:after, #footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#menu ul, ul#userinfo_minor, div.sidebar, #content , #footer {display: inline-block;}

/* Hides from IE-mac \*/

* html #menu ul, * html ul#userinfo_minor, * html div.sidebar, * html #content, * html #footer {height: 1%;}

#menu ul, ul#userinfo_minor, div.sidebar, #content, #footer {display: block;}

/* End hide from IE-mac */

/* Further updates - 23/09/08 */







/* COLLAGES */

#collage_table td {
  padding: 0 !important;
  border: 0 !important;
  width: 129px !important;
  height:129px !important;
}

#collage_table td img {
  width: 110px !important;
  height:150px !important;
  float: left;
}



#collage_table td a:hover {
  position: relative;
}

#collage_table td a:hover img {
  position: absolute;
  top: -148px;
  left: -85px;
  z-index: 4;
  width: 220px !important;
  height: 300px !important;
}



#collage_table {
  width: 645px;
}


/*

#upload_table .label, #collage form .label, #requests form .label, #requests form .label, #inbox form .box .label {
  border-right: 1px solid #d4d4d4 !important;
}

*/

#upload .thin {
  width: 700px;
  margin: 30px auto 0 auto;
}


#requests .tags {
  color: #656565;
}

#requests .tags a {
  color: #8c8c8c;
}

#requests .tags a:hover {
 	color: white
}

#quickreplybuttons {
   margin-top: 5px;
}

.colhead_dark input {
  margin: 0 0 0 5px;
}

h3 {
  margin: 10px 0;
}

#user #userform {
  padding: 20px 0 0 0;
}

#userform select#stylesheet,
#userform select#searchtype,
#userform select#discogview,
#userform select#hidecollage,
#userform select#showtags {
  width: 130px;
}

#user .linkbox, 
#artist .linkbox, 
#collage .linkbox, 
#forums .linkbox,
#bookmarks .linkbox, 
#torrents .linkbox,
#wiki .linkbox,
#friends .linkbox {
  border-bottom: 0;
}

#wiki .linkbox {
  padding-bottom: 0;
}

#rules #content li {
  margin: 0 0 5px -10px;
}








#userinfo_username .brackets {
  padding: 0 0 0 9px;
}

#userinfo_major .brackets {
  color: white;
  padding: 0 9px 0 0;
}
#userinfo_major .brackets #pointsStats{
  color: white;
}

#forums table.border .cat_list {
  width: 80%;
}

#forums table.border .cat_list td {
  width: 20%;
  padding: 0 !important;
  border: 0 !important;
}

.forum_unread .colhead_dark td {
  background-color: rgb(90,90,90)!important;
/*	border: 2px solid #a8d3ec !important;*/
}

#forums td[value="unread"]{
  color:red !important;
}



#bookmarks .main_column, #bookmarks .sidebar {
  margin-top: 20px;
}

#bookmarks .group td span {
  float: none !important;
}

#bookmarks .group td span strong {
  display: block;
  width: 400px;
  float: left;
}

#bookmarks .group .tags {
  float: left;
  clear: both;
}

#bookmarks .group span span {
  float: right !important;
}

#bookmarks .group span a {
  float: right;
} 

#bookmarks .group span div a, #bookmarks .group span strong a {
  float: none;
}

#top10 p {
  margin: 10px 0;
}

/*#top10 .rowa {
  background: #F6F6F6 url('images/download_bottom.png') 50% 100% no-repeat;
}

#top10 .rowb {
  background: white url('images/download_bottom.png') 50% 100% no-repeat;
}

#top10 .rowa td, #top10 .rowb td {
  background-color: transparent !important;
}

#top10 .group_torrent img {

}

#top10 .group_torrent td:first-child {
  font-size: 14px;
}
#top10 .group_torrent .center {

}*/

/* OINKPLUS */

.OiNK #ArtistName {
  text-indent: -2000em;
}

.OiNK #OiNKPlus {
  padding: 30px 10px 10px 10px;
}

.OiNK #LastFMSimilar, .OiNK #History {
  padding: 5px 0 0 5px;
}

.OiNK input {
  color:#999999;
  padding:3px;
  border:1px solid #9C9C9C !important;
  font-family:Arial,sans-serif;
}

.OiNK #MySpacePlayer object {
  width: 450px;
}

div[style="clear: both;"]{
  display: none;
}

div.box[style=""] div{
  text-align: center;
  margin: 0 auto;
}

div.box[style=""] .head{
  text-align: left;
  margin: 0;
}

.unread_locked_sticky{background: url('images/locked_sticky_unread.gif') no-repeat center center;}
.read_locked_sticky{background: url('images/locked_sticky_read.gif') no-repeat center center;}
.read_sticky{background: url('images/sticky_read.gif') no-repeat center center;}
.unread_sticky{background: url('images/sticky_unread.gif') no-repeat center center;}
.unread_locked{background: url('images/locked_unread.gif') no-repeat center center;}
.read_locked{background: url('images/locked_read.gif') no-repeat center center;}
.unread{background: url('images/unread_dark.gif') no-repeat center center;}
.read{background: url('images/read.gif') no-repeat center center;}

.unread_locked_sticky,
.read_locked_sticky,
.read_sticky,
.unread_sticky,
.unread_locked,
.read_locked,
.unread,
.read {
  padding:0 0 0 30px !important;
}

.cats_applications { width: 28px; height: 28px; background: url('images/apps.png') no-repeat center center; }
.cats_audiobooks { width: 28px; height: 28px; background: url('images/audiobook.png') no-repeat center center; }
.cats_comedy { width: 28px; height: 28px; background: url('images/comedy.png') no-repeat center center; }
.cats_comics { width: 28px; height: 28px; background: url('images/comics.png') no-repeat center center; }
.cats_ebooks { width: 28px; height: 28px; background: url('images/ebook.png') no-repeat center center; }
.cats_elearningvideos { width: 28px; height: 28px; background: url('images/elearning.png') no-repeat center center; }
.cats_music { width: 28px; height: 28px; background: url('images/music.png') no-repeat center center; }
.cats_movies { width: 50px; height: 50px; background: url('images/movies2.png') no-repeat center center; }
.cats_tvshows { width: 50px; height: 50px; background: url('images/tv2.png') no-repeat center center; }
.cats_audiotracks { width: 50px; height: 50px; background: url('images/audio2.png') no-repeat center center; }

#forums img[width="500"] {width:100%;height:100%;border-right:5px #007DC6 solid;cursor:pointer;margin:2px auto;}

.forum_post ul, .main_column .box ul {
  margin: 0 0 -7px 10px;
  list-style-position: inside;
  padding:0;
}

/* update - 07/12/2009 */

.edition_info {
  padding-left: 40px !important;
}

.main_column .edition_info {
  padding-left: 5px !important;
}

#artist #discog_table .box:first-child {
  text-align: center;
}

#artist #discog_table .box:first-child a {
  display: inline-block;
  padding: 5px;
}

#inbox #searchbox {
  margin: 0 auto 20px auto;
}

.last_read { width: 15px; height: 15px; background: url('images/go_last_read.png') no-repeat center center; margin-left: 5px; margin-left: 5px;}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }

.signature { margin: 2em 0 0 0; padding: .5em 0 0 0; }
body #internal_table {
	border:0;
}

#last5t{
    overflow: hidden;
}

#last5 {
    width:20%;
    float:left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
}

#last5 img {
    max-width:120px;
}

/* Auto complete search box */
#ui-id-1 {
	border: 1px solid rgb(25,25,25);
}

#ui-id-1 .ui-menu-item .ui-menu-item-wrapper{
	color: white;
	background: rgb(70,70,70);
	border-bottom: 1px solid rgb(25,25,25);
}

#ui-id-1 .ui-menu-item .ui-menu-item-wrapper:hover{
	background: rgb(50,50,50);
	border: 1px solid rgb(25,25,25);
}

/* Log colors */
#log #content table tr td:first-child + td span[style*='blue'] {
	color: #5193ff !important;
}

#log #content table tr td:first-child + td span[style*='green'] {
	color: #3bce3b !important;
}